<div class="container-fluid"> 
    <div class="profile-first-section"> 
      <div class="col-lg-12">
         <h1>Profile & settings</h1>
      </div>
    </div>
</div>
<div class="container-fluid"> 
    <div class="profile-second-section">
       <!-- <p-tabMenu [model]="items" [activeItem]="items[0]">
         <ng-content>
        
         </ng-content>
       </p-tabMenu> -->

       <p-tabView>
        <p-tabPanel header="Lms profile" >
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="firstname1">Firstname</label>
                    <input id="firstname1" type="text" pInputText> 
                </div>
                <div class="p-field p-col">
                    <label for="lastname1">Lastname</label>
                    <input id="lastname1" type="text" pInputText> 
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Profile picture" ></p-tabPanel>
        <p-tabPanel header="Profile settings" ></p-tabPanel>
       </p-tabView>
    </div>

</div>