@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@700&family=Source+Sans+Pro:wght@600&display=swap");
.profile-first-section{
    margin-top: 30px;
h1{
    font-family: "Gentium Book Plus", serif;
    font-size: 42px;
}
}
.profile-second-section{
    margin-top: 40px;
}