<app-header></app-header>
<div class="container-fluid my-3">
    <h2>Courses</h2>
</div>
<!-- style="background-color: #fff;" -->
<p-table [value]="courseData" [rowHover]="true" [rows]="5" [paginator]="true" [responsive]="true" [autoLayout]="true">
    <ng-template pTemplate="caption">
        <div class="table-header d-flex justify-content-between">
            <span class="p-input-icon-left">
        
                <i class="pi pi-search"></i>
                <input pInputText type="text" placeholder=" Search Courses" />
            </span>
            <button (click)="addDialog()" class="btn btn-primary mb-2 " type="button" icon="pi pi-info-circle" label="Add"><i
                    class="pi pi-plus me-2 cursor-pointer"></i>Add course</button>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th style="min-width: 14rem">Course Name</th>
            <th style="min-width: 14rem">
                <div class="flex justify-content-between align-items-center">
                    Description
                </div>
            </th>
            <!-- <th style="min-width: 14rem">
                            <div class="flex justify-content-between align-items-center">
                                Price
                            </div>
                        </th> -->
            <th style="min-width: 14rem">
                <div class="flex justify-content-between align-items-center">
                    Actions
                </div>
            </th>
        </tr>
    </ng-template>
    <div>{{courseData}}</div>
    <ng-template pTemplate="body" let-course>

        <tr>
            <td>{{course.attributes.title}}</td>
            <td>
                <!-- <div class="des"> -->
                {{course.attributes.courseDescription}}
                <!-- </div> -->
            
            </td>
            <!-- <td> $100</td> -->
            <td>
                <div class="d-flex mt-2 text-center">
                    <button pButton pRipple type="button" pTooltip="Edit Course" icon="pi pi-pencil"
                        class="p-button-rounded p-button-outlined" (click)="editDialog(course)"
                        style="height: 2rem; width: 2rem;"></button>&nbsp;

                    <button pButton pRipple type="button" pTooltip="Delete Course" icon="pi pi-times"
                        (click)="deleteCourse(course)" class="p-button-rounded p-button-danger p-button-outlined"
                        style="height: 2rem; width: 2rem;"></button>

                </div>
            </td>

        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            In total there are {{courseData ? courseData.length : 0 }} products.
        </div>
    </ng-template>
</p-table>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>

<!-- Add dialog start -->
<p-dialog header="Add Course" [(visible)]="addDialogDisplay" [style]="{width: '50vw'}" styleClass="active">

    <hr>
    <form [formGroup]="addFormGrorup">
        <div class="p-fluid grid">
            <div class="field mt-2 w-100">
                <label for="title">Course Name</label>
                <span class="p-float-label">

                    <input type="text" class="bg-light-grey input-shadow w-100 p-inputtext" formControlName="title"
                        pInputText placeholder="Course Name">
                    <small class="p-error block"
                        *ngIf="addFormGrorup.get('title')?.invalid && addFormGrorup.get('title')?.dirty">
                        Course
                        name is required</small>
                </span>


            </div>
            <div class="field mt-2 w-100">
                <label for="title">Description</label>
                <span class="p-float-label">
                    <textarea inputId="textarea" class="bg-light-grey input-shadow w-100 p-inputtext" rows="3"
                        style="resize: none;" cols="30" formControlName="description" pInputTextarea></textarea>
                </span>
                <small class="p-error block"
                    *ngIf="addFormGrorup.get('description')?.invalid && addFormGrorup.get('description')?.dirty">
                    Description
                    name is required</small>
            </div>

            <div class="field mt-1 w-100">
                <label for="title">Course content</label>
                <span class="p-float-label">
                    <input type="file" (change)="onFileSelect($event)"
                        class="bg-light-grey input-shadow w-100 p-inputtext" pInputText>
                </span>
            </div>
            <div class="field mt-1 w-100">
                <label for="title">Assignment content</label>
                <span class="p-float-label">
                    <input type="file" (change)="onAssignFileSelect($event)"
                        class="bg-light-grey input-shadow w-100 p-inputtext" pInputText>

                </span>
            </div>
            <div class="row  mt-1">

            </div>

        </div>
        <div class="d-flex justify-content-end mt-2">
            <button [disabled]="addFormGrorup.invalid" type="button" class="btn btn-success me-2"
                (click)="onSubmit()"><i class="pi pi-save me-2 cursor-pointer"></i>Save</button>
            <button type="button" class="btn btn-dark"><i class="pi pi-delete-left me-2 cursor-pointer"
                    (click)="closeAddDialog()"></i>Cancel</button>
        </div>
    </form>
</p-dialog>

<!-- Add dialog ends here-->


<!-- Edit dialog start -->
<p-dialog header="Update Course" [(visible)]="editDialogDisplay" [style]="{width: '50vw'}" styleClass="active">

    <hr>
    <form [formGroup]="editFormGroup">
        <div class="p-fluid grid">
            <div class="field mt-2 w-100">
                <label for="title">Course Name</label>
                <span class="p-float-label">

                    <input type="text" class="bg-light-grey input-shadow w-100 p-inputtext" formControlName="title"
                        pInputText placeholder="Course Name">
                    <small class="p-error block"
                        *ngIf="editFormGroup.get('title')?.invalid && editFormGroup.get('title')?.dirty">
                        Course
                        name is required</small>
                </span>


            </div>
            <div class="field mt-2 w-100">
                <label for="title">Description</label>
                <span class="p-float-label">
                    <textarea inputId="textarea" class="bg-light-grey input-shadow w-100 p-inputtext" rows="3"
                        style="resize: none;" cols="30" formControlName="description" pInputTextarea></textarea>
                </span>
                <small class="p-error block"
                    *ngIf="editFormGroup.get('description')?.invalid && editFormGroup.get('description')?.dirty">
                    Description
                    name is required</small>
            </div>

            <!-- <div class="field mt-1 w-100">
                <label for="title">Course content</label>
                <span class="p-float-label">
                    <input type="file" (change)="onFileSelect($event)"
                        class="bg-light-grey input-shadow w-100 p-inputtext" pInputText>
                </span>
            </div> -->
            <!-- <div class="field mt-1 w-100">
                <label for="title">Assignment content</label>
                <span class="p-float-label">
                    <input type="file" (change)="onAssignFileSelect($event)"
                        class="bg-light-grey input-shadow w-100 p-inputtext" pInputText>
                </span>
            </div> -->
            <div class="row  mt-1">

            </div>

        </div>
        <div class="d-flex justify-content-end mt-2">
            <button [disabled]="editFormGroup.invalid" type="button" class="btn btn-success me-2"
                (click)="onSubmit()"><i class="pi pi-save me-2 cursor-pointer"></i>Update</button>
            <button type="button" class="btn btn-dark"><i class="pi pi-delete-left me-2 cursor-pointer"
                    (click)="closeEditDialog()"></i>Cancel</button>
        </div>
    </form>
</p-dialog>

<!-- Edit dialog ends here-->

<p-toast position="top-right"></p-toast>