<!-- <app-header></app-header> -->
<div class="sidebar">
    <div class="sidebar-header">
    <h2>About The Courses</h2>
    <div class="card border-0">
        <div class="auth-details d-flex align-items-center">
            <p-avatar image="assets/img/user.jpg" styleClass="mr-3" size="large" shape="circle">
            </p-avatar>
            <div>
                <h2 class="card-title m-0">Jhon Breaker</h2>
                <p>PM Expert</p>
            </div>
        </div>
        <div class="card-body p-0">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content...
            .. <b>Read More</b>
          </p>
           
        </div>
      </div>
    </div>
    <hr>
    <div class="sidebar-content">
        <h2>Course Completion</h2>
        <p-progressBar [value]="value"></p-progressBar>
        <ul class="listbox-list mt-1 d-flex justify-content-between align-items-center">
            <li class="listbox-item">
                <span>01</span>
            </li>
            <li class="listbox-item">
                <span>Introduction To Project  Managment</span>
            </li>
            <li class="listbox-item">
                <i class="pi pi-check" style="font-size: 1rem; color: green;"></i>
            </li>
        </ul>
        <ul class="listbox-list mt-1 d-flex justify-content-between align-items-center">
            <li class="listbox-item">
                <span>02</span>
            </li>
            <li class="listbox-item">
                <span>Introduction To Project  Managment</span>
            </li>
            <li class="listbox-item">
                <i class="pi pi-check" style="font-size: 1rem; color: green;"></i>
            </li>
        </ul>
        <ul class="listbox-list mt-1 d-flex justify-content-between align-items-center">
            <li class="listbox-item">
                <span>03</span>
            </li>
            <li class="listbox-item">
                <span>Introduction To Project  Managment</span>
            </li>
            <li class="listbox-item">
                <i class="pi pi-check" style="font-size: 1rem; color: green;"></i>
            </li>
        </ul>
        <ul class="listbox-list mt-1 d-flex justify-content-between align-items-center">
            <li class="listbox-item">
                <span>04</span>
            </li>
            <li class="listbox-item">
                <span>Introduction To Project  Managment</span>
            </li>
            <li class="listbox-item">
                <i class="pi pi-check" style="font-size: 1rem; color: green;"></i>
            </li>
        </ul>
        <ul class="listbox-list mt-1 d-flex justify-content-between align-items-center">
            <li class="listbox-item">
                <span>05</span>
            </li>
            <li class="listbox-item">
                <span>Introduction To Project  Managment</span>
            </li>
            <li class="listbox-item">
                <i class="pi pi-check" style="font-size: 1rem; color: green;"></i>
            </li>
        </ul>
        <ul class="listbox-list mt-1 d-flex justify-content-between align-items-center">
            <li class="listbox-item">
                <span>06</span>
            </li>
            <li class="listbox-item">
                <span>Introduction To Project  Managment</span>
            </li>
            <li class="listbox-item">
                <i class="pi pi-check" style="font-size: 1rem; color: green;"></i>
            </li>
        </ul>
  
       
    </div>
    <div class="sidebar-footer">
 
    </div>
</div>

<div class="container">
    <div class="content-details-wrapper">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12">
            <h1 class="mb-0">Project Managment process</h1>
            <p> Prof. Jhon Breaker</p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-12 d-flex justify-content-end">
            <button pButton pRipple type="button" icon="pi pi-share-alt" class="p-button-rounded p-button-outlined me-2"></button>
            <button pButton pRipple type="button" icon="pi pi-bookmark" class="p-button-rounded p-button-outlined"></button>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="content-video mb-2">
                <img src="assets/img/hero.png" alt="" class="img-fluid">
            </div>
            <div class="card">
                <p-tabView>
                    <p-tabPanel header="Description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </p-tabPanel>
                    <p-tabPanel header="Reviews">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                            voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
                    </p-tabPanel>
                    <p-tabPanel header="Discussion">
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                            cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
                    </p-tabPanel>
                    <p-tabPanel header="Resource">
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati
                            cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </div>
</div>
</div>
<!-- <div class="container my-3 pb-2">
    <div class="border p-2">
        <div class="course_detail mb-3">
            <p-tag styleClass="mr-2" value="Course Details"></p-tag>
        </div>
        <div id="course_name">
            <div class="course_name mt-2">
                <h1>Python</h1>
            </div>
            <div class="sub-title border-bottom">
                <p class="text-blue">Seeing Your Way to learning. How to Use Visioning to Create Tomorrow</p>
            </div>
            <div class="content-block">
                <h2>Description</h2>
                <p>Visioning is oftentimes used as the first step in a health or financial wellness plan. What comes to
                    mind
                    when you ask yourself:</p>
                <ul>
                    <li>What do I most want to achieve?</li>
                    <li>What are my hopes for the future?</li>
                    <li>How do I see myself spending my time?</li>
                    <li>Where are the places I feel out-of-balance?</li>
                </ul>
                <p>Exploring open-ended questions is just one of the practice opportunities you’ll find as you begin
                    crafting your vision for personal well-being.</p>
                <p>In this short (approximately 20 minute) interactive course, you’ll find multiple avenues for
                    beginning
                    your visioning process, including audio meditations and visualization exercises. This is not
                    daydreaming; you’ll focus on what means the most to you in your life and how you envision your
                    tomorrows. You can hone the visioning skills you already have, or learn from scratch about how
                    visioning
                    can help you move forward.</p><br>
                <p><span class="text-blue">Duration</span> <br>Approximately 20 minutes</p>
            </div>
            <div class="content-block">
                <h2>
                    User Guide:
                </h2>
                <div class="detail-block">
                    <p><span class="text-blue">Audio / Video</span><br> This course features video segments with audio
                        narration. Turn your audio ON. Earphones or a headset may be necessary, depending on your
                        viewing
                        situation.</p>
                </div>
                <div class="detail-block">
                    <p><span class="text-blue">Navigation</span><br> This course was designed for viewing sequentially
                        by clicking the NEXT button on the bottom right side of the viewer. However, the menu on the
                        left-hand side is available for self-selecting content.</p>
                </div>
                <div class="detail-block">
                    <p><span class="text-blue">Personal Input</span><br> Throughout the course, you will find
                        self-assessments and text fields that ask for your personal input. By entering relevant
                        information,
                        you will be better able to engage in the visioning process. Most of the interactions are
                        optional;
                        however, a few require your input. On these few slides, the NEXT button is not visible until you
                        make a selection.</p>
                </div>
                <div class="detail-block">
                    <p><span class="text-blue">Your Information</span><br>Your personal input, whether answers to
                        assessments/quizzes or text field entries, is NOT stored. It is for your use during an
                        individual
                        session, and will need to be re-entered each time you re-launch the course. You will be able to
                        print the screen containing your Visioning process at the end of the course. </p>
                </div>
                <div class="detail-block">
                    <p><span class="text-blue">Links to External Content</span><br>To ensure that links to content
                        outside the course open correctly, change your browser preferences to “open links in a new
                        window.”
                    </p>
                </div>
            </div>
            <div class="content-block">
            </div>
        </div>
    </div>
</div> -->