.text-blue {
    color: #0d6efd;
}

.sidebar {
    background-color: #fff !important;
    right: 0;
    width: 20rem;
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    transition: transform .3s;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    color: #495057;
    border: 0 none;
    box-shadow: 0 1px 3px rgb(0 0 0 / 30%);

    .sidebar-header {
        padding: 1.25rem;
        justify-content: space-between;
        align-items: center;
    }

    .sidebar-content {
        padding: 1.25rem;
        overflow-y: auto !important;

        .listbox-list {
            padding: 0.75rem 0.5rem;
            border-radius: 10px;
            list-style-type: none;
            margin: 0;
            gap: 15px;
        }
    }

    .listbox-list:hover {
        background-color: #eee;
    }

    .listbox-list:hover li {
        background-color: #eee;
        font-weight: 500;
    }
}

.content-details-wrapper {
    // padding: 20px 25px 0px 35px;
    // position: absolute;
    // left: 0;
    // height: 100%;
    // overflow-y: auto;
    // width: calc(100% - 20rem);


    button.p-element.p-ripple.p-button-rounded.p-button-outlined.me-2.p-button.p-component.p-button-icon-only {
        border: 1px solid #000 !important;
        color: #000 !important;
    }
    button.p-element.p-ripple.p-button-rounded.p-button-outlined.p-button.p-component.p-button-icon-only{
        border: 1px solid #000 !important;
        color: #000 !important;
    }
    .content-video img{
        width: 100%;
        height: 360px;
    }
}
@media only screen and (max-width: 760px) {
    // .sidebar{
    //     display: none !important;
    // }
    .content-details-wrapper  {
        padding: 20px 25px 0px 35px;
        // position: absolute;
        left: 0;
        height: 100%;
        overflow-y: auto;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1025px) {
    .content-details-wrapper {
        padding: 5px 10px 0px 10px;
        // position: absolute;
        left: 0;
        height: 100%;
        overflow-y: auto;
        width: 100%;
        overflow-x: hidden;
    
    }
}