<app-header></app-header>
<div class="container my-3 pb-2">
    <div class="border p-2">
        <div class="course_detail mb-3">
            <p-tag styleClass="mr-2" value="Course Details"></p-tag>
        </div>
        <div id="course_name">
            <div class="course_name mt-2">
                
                <h1>Python</h1>
            </div>
            <div class="sub-title border-bottom">
                <p class="text-blue">Seeing Your Way to learning. How to Use Visioning to Create  Tomorrow</p>
            </div>
    
    
    
            <div class="content-block">
                <h2>Description</h2>
                <p>Visioning is oftentimes used as the first step in a health or financial wellness plan. What comes to mind
                    when you ask yourself:</p>
                <ul>
                    <li>What do I most want to achieve?</li>
                    <li>What are my hopes for the future?</li>
                    <li>How do I see myself spending my time?</li>
                    <li>Where are the places I feel out-of-balance?</li>
                </ul>
                <p>Exploring open-ended questions is just one of the practice opportunities you’ll find as you begin
                    crafting your vision for personal well-being.</p>
                <p>In this short (approximately 20 minute) interactive course, you’ll find multiple avenues for beginning
                    your visioning process, including audio meditations and visualization exercises. This is not
                    daydreaming; you’ll focus on what means the most to you in your life and how you envision your
                    tomorrows. You can hone the visioning skills you already have, or learn from scratch about how visioning
                    can help you move forward.</p><br>
                <p><span  class="text-blue">Duration</span> <br>Approximately 20 minutes</p>
            </div>
    
    
            <div class="content-block">
                <h2>
                    User Guide:
                </h2>
                <div class="detail-block">
                    <p><span class="text-blue">Audio / Video</span><br> This course features video segments with audio
                        narration. Turn your audio ON. Earphones or a headset may be necessary, depending on your viewing
                        situation.</p>
                </div>
    
                <div class="detail-block">
                    <p><span class="text-blue">Navigation</span><br> This course was designed for viewing sequentially
                        by clicking the NEXT button on the bottom right side of the viewer. However, the menu on the
                        left-hand side is available for self-selecting content.</p>
                </div>
    
                <div class="detail-block">
                    <p><span class="text-blue">Personal Input</span><br> Throughout the course, you will find
                        self-assessments and text fields that ask for your personal input. By entering relevant information,
                        you will be better able to engage in the visioning process. Most of the interactions are optional;
                        however, a few require your input. On these few slides, the NEXT button is not visible until you
                        make a selection.</p>
                </div>
    
    
                <div class="detail-block">
                    <p><span class="text-blue">Your Information</span><br>Your personal input, whether answers to
                        assessments/quizzes or text field entries, is NOT stored. It is for your use during an individual
                        session, and will need to be re-entered each time you re-launch the course. You will be able to
                        print the screen containing your Visioning process at the end of the course. </p>
                </div>
    
                <div class="detail-block">
                    <p><span class="text-blue">Links to External Content</span><br>To ensure that links to content
                        outside the course open correctly, change your browser preferences to “open links in a new window.”
                    </p>
                </div>
    
    
    
            </div>
    
    
    
    
            <div class="content-block">
    
                 
            </div>
        </div>
    </div>
</div>
