// sidebar close styles
.small-sidebar li span {
    display: none;
}

.small-sidebar {
    .sidebar-header {
        display: block !important;
        text-align: center;
    }

    .pi {
        font-size: 20px;
    }

    transition: all linear 0.3s;

    .site-name {
        display: none !important;
    }

    width: 6rem;
    text-align: center;
}

.large-sidebar {
    transition: all linear 0.3s;
    width: 20rem !important;

    .site-name1 {
        display: none !important;
    }
}

.sidebar {
    background-color: #fff !important;
    top: 0;
    left: 0;
    height: 100vh;
    position: sticky;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    color: #495057;
    border: 0 none;
    box-shadow: 0 1px 3px rgb(0 0 0 / 30%);

    .sidebar-header {
        padding: 1.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sidebar-content {
        border-top: 1px solid #eee;
        padding: 1.25rem;
        position: relative;
    }
}

.container-fluid {
    position: absolute;
    left: 15rem;
    width: calc(100% - 20rem);
}

.listbox-item {
    margin: 0;
    padding: 0.75rem 1.25rem;
    border: 0 none;
    color: #495057;
    transition: box-shadow 0.2s;
    border-radius: 0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    user-select: none;
}

.sidebar .sidebar-header+.sidebar-content {
    padding-top: 0;
}

.sidebar-footer {
    margin-top: auto;
}

.sidebar .sidebar-footer {
    padding: 1.25rem;
}

// listbox
.listbox-list {
    padding: 0.75rem 0;
    list-style-type: none;
    margin: 0;
}

.listbox-item:hover {
    background-color: #bdedcf;
    color: #20854e;
    font-weight: 500;
    border-radius: 4px;
}

// header
.header {
    height: auto !important;
    box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
    width: 100%;
    background-color: #FFF !important;

    button.menu-button {
        display: none;
        padding: 10px 15px;
        background: #fff;
        border-radius: 5px;
        border: 1px solid #000;
    }
}

input.p-inputtext.p-component.p-element.search-text {
    border: none !important;
}

.drop-button {
    button.p-element.p-button-raised.p-button-text.p-button.p-component {
        background: #fff;
        color: black;
        padding: 0.25rem 1rem !important;
    }
}

.col-lg-2 {
    flex: 0 0 auto;
    width: 20% !important;
}

.class-content {
    padding: 15px;
    background: #FDF3EA;
    border-left: 5px solid orange;
}

.class-content-one {
    padding: 15px;
    background: #FEF6D2;
    border-left: 5px solid yellow;
}

.class-content-two {
    padding: 15px;
    background: #E9F8FF;
    border-left: 5px solid #1FB6E5;
}

.active {
    color: #18b35d;
}

.content-inner {
    width: 100%;
}

@media only screen and (max-width: 760px) {
    .sidebar {
        display: none !important;
    }

    .header {
        height: auto !important;
        box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
        width: 100% !important;
        // float: left;
        // left: 0;
        // position: fixed;
        background-color: #FFF !important;

        .none {
            display: none !important;
        }

        button.menu-button {
            display: block;
            padding: 10px 15px;
            background: #fff;
            border-radius: 5px;
            border: 1px solid #000;
        }
    }

    // .content {
    //     width: 100% !important;
    //     top: 80px;
    //     left: 0 !important;
    //     position: absolute;
    //     background-color: rgb(211 211 211 / 19%);
    //     height: calc(100% - 84px) !important;
    // }
}