<!-- <h1 class="text-center mt-3">Welcome Admin</h1> -->
<app-header></app-header>

<div class="container text-center bg-blue border  my-4 justify-content-center d-flex align-items-center ">
    <h3 class="m-0 my-2 text-white">Welcome to LMS</h3>
</div>

<div class="container">

    <div class="d-flex justify-content-end">
        <!-- Add dialog start -->
        <p-dialog header="Add Courses" [(visible)]="display" [style]="{width: '40vw'}" styleClass="active">

            <hr>
            <form [formGroup]="courseGroup" (ngSubmit)="onSubmitContent()">
                <div class="p-fluid grid">
                    <div class="field mt-4">
                        <label for="title">Course Name</label>
                        <span class="p-float-label">

                            <input type="text" class="bg-light-grey input-shadow w-100 p-inputtext" name="title"
                                class="form-control" required formControlName="title" pInputText
                                placeholder="Course Name">
                            <small class="p-error block"
                                *ngIf="courseGroup.get('title')?.invalid && (courseGroup.get('title')?.dirty && courseGroup.get('title')?.touched)">
                                Course
                                name is required</small>
                        </span>

                    </div>
                    <div class="field mt-4">
                        <label for="title">Description</label>
                        <span class="p-float-label">
                            <textarea inputId="textarea" required class="bg-light-grey input-shadow w-100 p-inputtext"
                                rows="3" style="resize: none;" cols="30" formControlName="description"
                                pInputTextarea></textarea>
                            <small class="p-error block"
                                *ngIf="courseGroup.get('description')?.invalid && (courseGroup.get('description')?.dirty && courseGroup.get('description')?.touched)">
                                Description
                                name is required</small>
                        </span>
                    </div>

                    <div class="field mt-4">
                        <label for="title">Price</label>
                        <span class="p-float-label">
                            <input type="text" required class="bg-light-grey input-shadow w-100 p-inputtext"
                                formControlName="price" pInputText>
                            <small class="p-error block"
                                *ngIf="courseGroup.get('price')?.invalid && (courseGroup.get('price')?.dirty && courseGroup.get('price')?.touched)">
                                Price
                                name is required</small>
                        </span>
                    </div>
                    <div class="row  mt-4">

                    </div>

                </div>
                <div class="d-flex justify-content-end mt-2">
                    <button [disabled]="courseGroup.invalid" type="button" class="btn btn-success me-2"
                        (click)="onSubmitContent()"><i class="pi pi-save me-2 cursor-pointer"></i>Save</button>
                    <button (click)="closeDialog()" type="button" class="btn btn-dark"><i
                            class="pi pi-delete-left me-2 cursor-pointer"></i>Cancel</button>
                </div>
            </form>
        </p-dialog>
        <!-- Add dialog end -->


        <!-- Edit dialog start here -->

        <p-dialog header="Update Courses" [(visible)]="editDisply" [style]="{width: '40vw'}" styleClass="active">

            <hr>
            <form [formGroup]="courseUpdateGroup">
                <div class="p-fluid grid">
                    <div class="field mt-4">
                        <label for="title">Course Name</label>
                        <span class="p-float-label">

                            <input type="text" class="bg-light-grey input-shadow w-100 p-inputtext"
                                formControlName="title" pInputText placeholder="Course Name">
                            <small class="p-error block"
                                *ngIf="courseUpdateGroup.get('title')?.invalid && courseUpdateGroup.get('title')?.dirty">
                                Course
                                name is required</small>
                        </span>


                    </div>
                    <div class="field mt-4">
                        <label for="title">Description</label>
                        <span class="p-float-label">
                            <textarea inputId="textarea" class="bg-light-grey input-shadow w-100 p-inputtext" rows="3"
                                style="resize: none;" cols="30" formControlName="description" pInputTextarea></textarea>
                        </span>
                        <small class="p-error block"
                            *ngIf="courseUpdateGroup.get('description')?.invalid && courseUpdateGroup.get('description')?.dirty">
                            Description
                            name is required</small>
                    </div>

                    <div class="field mt-4">
                        <label for="title">Price</label>
                        <span class="p-float-label">
                            <input type="text" class="bg-light-grey input-shadow w-100 p-inputtext"
                                formControlName="price" pInputText>
                            <small class="p-error block"
                                *ngIf="courseUpdateGroup.get('price')?.invalid && courseUpdateGroup.get('price')?.dirty">
                                Price
                                name is required</small>
                        </span>
                    </div>
                    <div class="row  mt-4">

                    </div>

                </div>
                <div class="d-flex justify-content-end mt-2">
                    <button type="button" class="btn btn-success me-2" (click)="onUpdateContent()"><i
                            class="pi pi-save me-2 cursor-pointer"></i>Update</button>
                    <button type="button" class="btn btn-dark"><i class="pi pi-delete-left me-2 cursor-pointer"
                            (click)="closeEditDialog()"></i>Cancel</button>
                </div>
            </form>
        </p-dialog>

        <!-- Edit dialog ends here-->

        <button class="btn btn-primary mb-2" type="button" (click)="showDialog()" icon="pi pi-info-circle"
            label="Add"><i class="pi pi-plus me-2 cursor-pointer"></i>Add course</button>
    </div>

    <div>
        <div class="row">

            <div class="col-lg-4 mb-3" *ngFor="let data of contentData">
                <div class="card" style="height: 500px;" (click)="setData(data)"
                    [routerLink]="['/admin/content',data.id]">
                    <img style="height: 250px;" src="{{data.attributes.media.data[0].attributes.formats.thumbnail.url}}"
                        class="card-img-top" alt="...">

                    <div class="card-body">
                        <h3 class="card-title mb-2" style="font-weight: bold;">{{data.attributes.name}}</h3>
                        <span class="d-flex mb-2 align-items-center"> <mat-icon style="font-size: 20px;"
                                fontIcon="person"></mat-icon> {{data.attributes.author}}</span>
                        <p class="card-text"> {{data.attributes.description}}.</p>
                        <div class="row align-items-center">
                            <div class="col-lg-4">
                                <span class="d-flex align-items-center">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon"
                                        fontIcon="visibility"></mat-icon><span class="ms-1">14</span>
                                </span>
                            </div>
                            <div class="col-lg-4"><button type="button" class="btn btn-outline-secondary">
                                    {{data.attributes.price | currency : 'INR'}}</button>
                            </div>
                            <!-- <div class="col-lg-4 d-flex justify-content-end"><a class="btn btn-primary">Buy</a> -->
                            <!-- </div> -->
                        </div>
                        <div class="d-flex justify-content-end mt-2">
                            <button pButton pRipple type="button" pTooltip="Edit Course" icon="pi pi-pencil"
                                class="p-button-rounded p-button-outlined" (click)="editContentDialog(data)"
                                style="height: 2rem; width: 2rem;"></button>

                            <button pButton pRipple type="button" pTooltip="Delete Course" icon="pi pi-times"
                                class="p-button-rounded ms-1 p-button-danger p-button-outlined"
                                style="height: 2rem; width: 2rem;" (click)="deleteDialog(data)"></button>

                        </div>
                    </div>
                    <!-- <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div> -->
                </div>
            </div>

            <p-paginator *ngIf="contentData" [rows]="10" [totalRecords]="120"
                [rowsPerPageOptions]="[10,20,30]"></p-paginator>

        </div>
        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
    </div>

    <p-toast position="top-right"></p-toast>
</div>
<div class="progress-spinner text-center mt-4" *ngIf="loadingSpinner == true">
    <p-progressSpinner></p-progressSpinner>
</div>