@import "~primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2? family=Oswald:wght@300&family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2? family=IBM+Plex+Sans+Arabic&family=Oswald:wght@300&family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&family=Mukta&family=Oswald:wght@300&family=Prata&family=Roboto:wght@300&display=swap");
* {
  font-family: "Times New Roman", Times, serif;
}
.about {
  background-color: #f7f9fa;
}
$font-size: 50px;
.main-heading {
  margin-top: 50px;
  .heading {
    font-size: 3.2rem;
    color: #1c1d1f;
    text-align: left;
    // font-family: "Prata", serif;
    font-family: Suisse Works, Georgia, Times, Times New Roman, serif;
    line-height: 1.17;
    font-weight: 700;
  }
}
.heading-2 {
  margin-top: 40px;
  font-size: 45px;
  line-height: 1.2;
  font-weight: 700;
  font-family: Suisse Works, Georgia, Times, Times New Roman, serif;
  color: #1c1d1f;
  text-align: center;
}
.improving {
  width: 100%;
  background-color: white;
  .about-paragraph {
    font-size: 20px;
    line-height: 1.2;
    color: #1c1d1f;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    // font-family: Suisse Works, Georgia, Times, Times New Roman, serif;
    margin: 0 auto 1.6rem;
    text-align: center;
  }
}

.marketlpace-paragraph {
  font-size: 20px;
  letter-spacing: 1px;
  color: black;
  text-align: start;
}
.content-heading {
  text-align: start;
  font-size: 2rem;
  font-weight: bold;
  color: #1c1d1f;
  font-family: Suisse Works, Georgia, Times, Times New Roman, serif;
}
.content {
  p {
    color: #1c1d1f;
    text-align: start;
    font-size: 18px;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    letter-spacing: 1px;
    line-height: 1.2;
  }
}

.about-courses {
  background: #5624d0;
  padding-top: 50px;
  font-family: Suisse Works, Georgia, Times, Times New Roman, serif;
  color: #fff;
  h2 {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px;
    font-family: Suisse Works, Georgia, Times, Times New Roman, serif;
  }
  p {
    padding: 10px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.9rem;
    font-family: "Times New Roman", Times, serif;
  }
  .courses-statistics {
    font-family: "Times New Roman", Times, serif;
    span {
      font-family: monospace;
      font-size: 15px;
    }
  }
}
.about-lms-main {
  width: 100%;
  background-color: white;
  .about-lms-section {
    .about-lms {
      color: #1c1d1f;
      text-align: start;
      font-size: 1.2rem;
      letter-spacing: 1px;
      line-height: 25px;
      font-family: "IBM Plex Sans Arabic", sans-serif;
      .learn-more-btn {
        margin-left: 10px;
      }
    }
    .about-lms-button:hover {
      background-color: #383b3b;
    }
  }
}
.companies {
  width: 100%;
  background-color: #f7f9fa;
}

.comment-cards {
  p {
    font-size: 25px;
    color: #1c1d1f;
    text-align: start;
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px;
    line-height: 30px;
  }
  a {
    text-decoration: none;
  }
}
.client-comments {
  h2 {
    font-family: Suisse Works, Georgia, Times, Times New Roman, serif;
    font-weight: bold;
  }
  p {
    font-size: 13px;
    letter-spacing: 1px;
    color: black;
    text-align: start;
    font-family: "IBM Plex Sans Arabic", sans-serif;
  }
  a {
    text-decoration: none;
    color: #5624d0;
  }
}
.footer {
  font-family: "Mukta", sans-serif;
  .h-line {
    width: 100%;
    height: 1px;
    background-color: #f7f9fa;
  }
  .footer-lang-btn {
    margin-right: 100px;
    a {
      width: 300px;
      height: 20px;
      text-decoration: none;
      border: 2px solid white;
      padding: 10px;
      color: white;
      font-size: 20px;
      justify-content: end;
    }
  }
}
