.nav-link{
    cursor: pointer;
}
// :host ::ng-deep .title {
//     // background-color: rgb(173, 255, 106);
//     color: #bc5358;
// }
// ::ng-deep .title {
//     // background-color: #5393bc !important;
//     color: #bc5358 !important;
// }
.nave-menu{
    color: #fff !important;
    font-size: 1rem;
}
.bg-blue{
    background: linear-gradient(to left, lightblue  ,  #0d6efd,);
}