<nav class="navbar  bg-blue navbar-expand-lg navbar-light shadow-sm" style="height: auto; background-color: #2188d9;">
    <div class="container-fluid">
        <div class="col-lg-2">
            <span class="d-flex align-items-center" style="color:  #fff;"><i class="pi pi-bolt"
                    style="font-size: 2rem"></i>LMS</span>
            <button class="navbar-toggler text-white" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-lg-8 d-flex justify-content-center">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav" style="font-size: 24px;">
                <ul class="navbar-nav   mb-lg-0" style="gap: 35px;">
                    <li class="nav-item">
                        <a class="nav-link nave-menu active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nave-menu" href="#">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nave-menu" href="#">Content</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nave-menu" href="#">Assessments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nave-menu" href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2 d-flex justify-content-end  ">
            <p-avatar icon="pi pi-user" styleClass="mr-2" size="large"
                [style]="{'background-color':'#2188d9', 'color': '#ffffff'}"></p-avatar>
        </div>
    </div>
</nav>