<app-header></app-header>
<div class="container">
    <div class="container text-center bg-blue border  my-4 justify-content-center d-flex align-items-center ">
        <h1 class="m-0 my-2 text-black bold">Create quiz</h1>
    </div>
    <!-- <h3 class="bold"> Create quiz</h3> -->
    <div class="col mb-3 d-flex justify-content-end">
        <button type="button" pButton (click)="addDialog()" label="Add question"></button>
    </div>


    <div class="grid" *ngFor="let data of data">

        <!-- <div class="col-fixed" style="width:100px">Questions</div> -->
        <div class="col">

            <p-card>
                <div class="d-flex justify-content-end mt-2">
                    <button pButton pRipple type="button" pTooltip="Edit question" icon="pi pi-pencil"
                        (click)="editDialog(data)" class="p-button-rounded "
                        style="height: 2rem; width: 2rem;"></button>

                    <button pButton pRipple type="button" pTooltip="Delete quiz" icon="pi pi-times"
                        (click)="deleteDialog(data)" class="p-button-rounded ms-1 p-button-danger "
                        style="height: 2rem; width: 2rem;"></button>

                </div>
                <h2>Q: {{data.Q}}</h2><br>

                <div class="grid pl-2">
                    <div class="col-6">A) {{data.op1}}</div>
                    <div class="col-6">B) {{data.op2}}</div>
                    <div class="col-6">C) {{data.op3}}</div>
                    <div class="col-6">D) {{data.op4}}</div>
                </div>

            </p-card>
        </div>
      

    </div>
    <!-- Pagination -->
    <!-- <p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator> -->


    <!-- Add dialog start -->
    <p-dialog header="Add Question" [(visible)]="addDisplay" [style]="{width: '50vw'}" styleClass="active">

        <hr>
        <form [formGroup]="addQuizGroup" (ngSubmit)="onSubmitQuestion()">
            <div class="p-fluid grid">
                <div class="field mt-4 w-100">
                    <label for="title">Question</label>
                    <span class="p-float-label">

                        <input type="text" class="bg-light-grey input-shadow w-100 p-inputtext" name="question"
                            class="form-control" required formControlName="question" pInputText placeholder="Question">
                        <small class="p-error block"
                            *ngIf="addQuizGroup.get('question')?.invalid && (addQuizGroup.get('question')?.dirty && addQuizGroup.get('question')?.touched)">
                            Question
                            is required</small>
                    </span>

                </div>
                <div class="field mt-4 w-50">
                    <label for="title">Option1</label>
                    <span class="p-float-label">
                        <input type="text" required class="bg-light-grey input-shadow w-100 p-inputtext"
                            style="resize: none;" cols="30" formControlName="option1" pInputText>
                        <small class="p-error block"
                            *ngIf="addQuizGroup.get('option1')?.invalid && (addQuizGroup.get('option1')?.dirty && addQuizGroup.get('option1')?.touched)">
                            Option1
                            name is required</small>
                    </span>
                </div>

                <div class="field mt-4 w-50">
                    <label for="title">Option2</label>
                    <span class="p-float-label">
                        <input type="text" required class="bg-light-grey input-shadow w-100 p-inputtext"
                            formControlName="option2" pInputText>
                        <small class="p-error block"
                            *ngIf="addQuizGroup.get('option2')?.invalid && (addQuizGroup.get('option2')?.dirty && addQuizGroup.get('option2')?.touched)">
                            Option2 is required</small>
                    </span>
                </div>
                <div class="field mt-4 w-50">
                    <label for="title">Option3</label>
                    <span class="p-float-label">
                        <input type="text" required class="bg-light-grey input-shadow w-100 p-inputtext"
                            formControlName="option3" pInputText>
                        <small class="p-error block"
                            *ngIf="addQuizGroup.get('option3')?.invalid && (addQuizGroup.get('option3')?.dirty && addQuizGroup.get('option3')?.touched)">
                            Option3 is required</small>
                    </span>
                </div>
                <div class="field mt-4 w-50">
                    <label for="title">Option4</label>
                    <span class="p-float-label">
                        <input type="text" required class="bg-light-grey input-shadow w-100 p-inputtext"
                            formControlName="option4" pInputText>
                        <small class="p-error block"
                            *ngIf="addQuizGroup.get('option4')?.invalid && (addQuizGroup.get('option4')?.dirty && addQuizGroup.get('option4')?.touched)">
                            Option4 is required</small>
                    </span>
                </div>
                <div class="row  mt-4">

                </div>

            </div>
            <div class="d-flex justify-content-end mt-2">
                <button [disabled]="addQuizGroup.invalid" type="button" class="btn btn-success me-2"
                    (click)="onSubmitQuestion()"><i class="pi pi-save me-2 cursor-pointer"></i>Save</button>
                <button (click)="addCancel()" type="button" class="btn btn-dark"><i
                        class="pi pi-delete-left me-2 cursor-pointer"></i>Cancel</button>
            </div>
        </form>
    </p-dialog>
    <!-- Add dialog end -->



    <!-- Edit dialog start -->
    <p-dialog header="Edit Questions" [(visible)]="editDisplay" [style]="{width: '50vw'}" styleClass="active">

        <hr>
        <form [formGroup]="editQuizGroup" (ngSubmit)="onEditQuestion()">
            <div class="p-fluid grid">
                <div class="field mt-4 w-100">
                    <label for="title">Question</label>
                    <span class="p-float-label">

                        <input type="text" class="bg-light-grey input-shadow w-100 p-inputtext" name="question"
                            class="form-control" required formControlName="question" pInputText placeholder="Question">
                        <small class="p-error block"
                            *ngIf="editQuizGroup.get('question')?.invalid && (editQuizGroup.get('question')?.dirty && editQuizGroup.get('question')?.touched)">
                            Question
                            is required</small>
                    </span>

                </div>
                <div class="field mt-4 w-50">
                    <label for="title">Option1</label>
                    <span class="p-float-label">
                        <input type="text" required class="bg-light-grey input-shadow w-100 p-inputtext"
                            style="resize: none;" cols="30" formControlName="option1" pInputText>
                        <small class="p-error block"
                            *ngIf="editQuizGroup.get('option1')?.invalid && (editQuizGroup.get('option1')?.dirty && editQuizGroup.get('option1')?.touched)">
                            Option1
                            name is required</small>
                    </span>
                </div>

                <div class="field mt-4 w-50">
                    <label for="title">Option2</label>
                    <span class="p-float-label">
                        <input type="text" required class="bg-light-grey input-shadow w-100 p-inputtext"
                            formControlName="option2" pInputText>
                        <small class="p-error block"
                            *ngIf="editQuizGroup.get('option2')?.invalid && (editQuizGroup.get('option2')?.dirty && editQuizGroup.get('option2')?.touched)">
                            Option2 is required</small>
                    </span>
                </div>
                <div class="field mt-4 w-50">
                    <label for="title">Option3</label>
                    <span class="p-float-label">
                        <input type="text" required class="bg-light-grey input-shadow w-100 p-inputtext"
                            formControlName="option3" pInputText>
                        <small class="p-error block"
                            *ngIf="editQuizGroup.get('option3')?.invalid && (editQuizGroup.get('option3')?.dirty && editQuizGroup.get('option3')?.touched)">
                            Option3 is required</small>
                    </span>
                </div>
                <div class="field mt-4 w-50">
                    <label for="title">Option4</label>
                    <span class="p-float-label">
                        <input type="text" required class="bg-light-grey input-shadow w-100 p-inputtext"
                            formControlName="option4" pInputText>
                        <small class="p-error block"
                            *ngIf="editQuizGroup.get('option4')?.invalid && (editQuizGroup.get('option4')?.dirty && editQuizGroup.get('option4')?.touched)">
                            Option4 is required</small>
                    </span>
                </div>
                <div class="row  mt-4">

                </div>

            </div>
            <div class="d-flex justify-content-end mt-2">
                <button [disabled]="editQuizGroup.invalid" type="button" class="btn btn-info me-2"
                    (click)="onEditQuestion()"><i class="pi pi-save me-2 cursor-pointer"></i>Update</button>
                <button (click)="editCancel()" type="button" class="btn btn-dark"><i
                        class="pi pi-delete-left me-2 cursor-pointer"></i>Cancel</button>
            </div>
        </form>
    </p-dialog>
    <!-- Edit dialog end -->

    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>

    <p-toast position="top-right"></p-toast>

</div>