<div class="container text-center bg-blue border  my-4 justify-content-center d-flex align-items-center ">
    <h3 class="m-0 my-2">Welcome to LMS</h3>
</div>

<!-- <h1 class="text-center mt-3">Welcome User</h1> -->
<div class="progress-spinner text-center mt-4" *ngIf="isLoading == true">
    <p-progressSpinner></p-progressSpinner>
</div>
<div class="container">
    <div class="row">
        <h3>All Courses</h3>
        <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input type="search" pInputText placeholder="Search" />
        </span>

        <div class="col-lg-4 mb-3" *ngFor="let data of contentData">
            <div class="card" style="height: 450px;">
                <img style="height: 250px;" src="{{data.attributes.media.data[0].attributes.formats.thumbnail.url}}"
                    class="card-img-top" alt="...">

                <div class="card-body">
                    <h3 class="card-title mb-2" style="font-weight: bold;">{{data.attributes.name}}</h3>
                    <span class="d-flex mb-2 align-items-center"> <mat-icon style="font-size: 20px;"
                            fontIcon="person"></mat-icon> {{data.attributes.author}}</span>
                    <p class="card-text"> {{data.attributes.description}}.</p>
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <span class="d-flex align-items-center">
                                <mat-icon aria-hidden="false" aria-label="Example home icon"
                                    fontIcon="visibility"></mat-icon><span class="ms-1">14</span>
                            </span>
                        </div>
                        <div class="col-lg-4"><button type="button" class="btn btn-outline-secondary">
                                {{data.attributes.price | currency : 'INR'}}</button>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-end"><a class="btn btn-primary">Buy</a>

                        </div>
                    </div>

                </div>
            </div>