.bg-blue {
    background-color: #0d6efd;
}

.cursor-pointer {
    cursor: pointer;
}

.color-green {
    color: green;
}

.progress-spinner {
    margin: auto;
    width: 50%;

    // padding: auto;

}
