<!-- message component -->
<div class="container">
  <div class="message-section">
    <h1>Messages</h1>
    <h4>You have 0 unread messages.</h4>
  </div>
</div>
<div class="container-fluid bg-light main-message">
  <div class="messages-main-section">
    <div class="row">
      <div class="col-lg-5">
        <div class="messages-main-section-left">
          <div class="row mt-2 mr-2">
            <div class="col-lg-3">
              <button
                pButton
                type="button"
                label="Compose"
                (click)="composeSection()"
                class="p-button-secondary bg-white text-dark"
              ></button>
            </div>
            <!-- [options]="userMessages"
            [(ngModel)]="selectedUserMessage"
            (onChange)="getMessage(selectedUserMessage)" -->
            <div class="col-lg-9">
              <p-dropdown
                placeholder="All Messages"
                optionLabel="category"
                [options]="messagesCategories"
                [(ngModel)]="selectedCategory"
                (onChange)="showCategory()"
                class="w-100"
                [style]="{
                  width: '100%',
                  color: 'black'
                }"
              ></p-dropdown>
            </div>
          </div>
          <div class="row mr-2">
            <div class="col-lg-12 mt-4">
              <span class="p-input-icon-right w-100">
                <i class="pi pi-search"></i>
                <input
                  type="text"
                  #inputValue
                  placeholder="Search"
                  pInputText
                  (input)="
                    users.filterGlobal($any($event.target).value, 'contains')
                  "
                />
              </span>
            </div>
          </div>
          <hr class="w-100" />
          <div class="row">
            <div class="col-lg-12">
              <div class="messages-left-scroll">
                <div class="messsage-card">
                  <p-table
                    #users
                    [value]="userMessages"
                    [globalFilterFields]="['name']"
                  >
                    <ng-template pTemplate="body" let-user>
                      <tr (click)="viewMessage(user)">
                        <td><i class="pi pi-check-circle"></i></td>
                        <td>
                          <p-avatar
                            image="{{ user.image }}"
                            shape="circle"
                          ></p-avatar
                          ><br />
                          <i
                            class="pi pi-star ml-2 mt-3"
                            [ngStyle]="{ color: 'green' }"
                            (click)="importantMessages()"
                          ></i>
                        </td>
                        <td>
                          <h1>{{ user.name }}</h1>
                          <p>
                            {{ user.message }}
                          </p>
                        </td>
                        <td>
                          <p>{{ user.date }}</p>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="messages-main-section-right">
          <!-- view  message  and send message -->
          <div class="container-fluid" *ngIf="viewMessageStatus">
            <div class="row mt-2">
              <div class="col-lg-1">
                <i class="pi pi-star mt-4"></i>
              </div>
              <div class="col-lg-2">
                <p-avatar
                  image="{{ selectedUserMessage.image }}"
                  size="xlarge"
                  shape="circle"
                ></p-avatar>
              </div>
              <div class="col-lg-8">
                <h1 class="mt-3">{{ selectedUserMessage.name }}</h1>
              </div>
              <div class="col-lg-1 mt-4">
                <i class="pi pi-ellipsis-v"></i>
              </div>
            </div>
            <hr class="w-100" />
            <div class="container-fluid">
              <div class="message-right-side-sec">
                <div
                  class="p-5 message-body"
                  [ngStyle]="{ backgroundColor: 'var(--blue-50)' }"
                >
                  <p>Hello</p>
                  <h1>{{ selectedUserMessage.name }}</h1>

                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quidem quae vero qui aperiam provident laboriosam error
                    corrupti.
                  </p>
                  <p>{{ selectedUserMessage.message }}</p>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quidem quae vero qui aperiam provident laboriosam error
                    corrupti.
                  </p>
                  <div *ngIf="userMessage">
                    <div
                      class="p-5 message-body"
                      [ngStyle]="{ backgroundColor: 'var(--red-50)' }"
                    >
                      <p>Hello</p>
                      <h1>{{ selectedUserMessage.name }}</h1>

                      <div
                        [innerHtml]="userMessage"
                        class="ui-editor-content"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="conatiner-fluid">
                <div class="messages-edit-table mt-4">
                  <p-editor
                    [(ngModel)]="textMessage"
                    styleClass="ql-editor"
                    #myEditor
                  >
                    <ng-template pTemplate="header">
                      <span class="ql-formats">
                        <button
                          type="button"
                          class="ql-bold"
                          aria-label="Bold"
                        ></button>
                        <button
                          type="button"
                          class="ql-italic"
                          aria-label="Italic"
                        ></button>
                        <button
                          type="button"
                          class="ql-underline"
                          aria-label="Underline"
                        ></button>
                        <button
                          type="button"
                          class="ql-image"
                          aria-label="Image"
                        ></button>
                      </span>
                    </ng-template>
                  </p-editor>
                </div>
              </div>
              <div class="conatiner-fluid">
                <div class="row mt-3 mb-5">
                  <div class="col-lg-3">
                    <p>
                      <a href="" class="text-decoration-none"
                        >View course Q&A</a
                      >
                    </p>
                  </div>
                  <div class="col-lg-4">
                    <p>
                      <a href="" class="text-decoration-none"
                        >Visit the LMS help center</a
                      >
                    </p>
                  </div>
                  <div class="col-lg-5">
                    <div class="position-relative">
                      <button
                        class="btn btn-secondary text-white position-absolute top-0 end-0"
                        (click)="sendMessage()"
                      >
                        Send
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- compose-->

            <div class="container-fluid" *ngIf="composeStatus">
              <div class="compose-section">
                <div class="row mt-3">
                  <div class="col-lg-12">
                    <h1 class="text-dark fs-2 fw-bold">Compose</h1>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <h3>What do you have in mind?</h3>
                      <div class="p-2">
                        <div class="mb-2">
                          <p-card>
                            <h1 class="text-dark">
                              <a href="" class="text-decoration-none"
                                >Tecghnical,Payment or Other platforms issues</a
                              >
                            </h1>
                            <button
                              pButton
                              type="button"
                              label="Visit the LMS help center"
                              class="p-button-secondary"
                            ></button>
                          </p-card>
                        </div>
                        <div class="mb-2">
                          <p-card>
                            <h1 class="text-dark">
                              <a href="" class="text-decoration-none">
                                Questions about course content</a
                              >
                            </h1>
                            <button
                              pButton
                              type="button"
                              label="View course Q&A"
                              class="p-button-secondary"
                            ></button>
                          </p-card>
                        </div>
                        <div class="mb-2">
                          <p-card>
                            <h1 class="text-dark">
                              <a href="" class="text-decoration-none">
                                Private or public message to instructor</a
                              >
                            </h1>
                            <button
                              pButton
                              type="button"
                              label="Send a new message"
                              class="p-button-secondary"
                            ></button>
                          </p-card>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
