<!-- <h1 class="text-center mt-3">Welcome Admin</h1> -->
<nav class=" navbar sticky-top bg-white navbar-expand-lg navbar-light  mb-0"
    style="height: auto; box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);">
    <div class="container-fluid">
        <div class="col-lg-4">
            <a class="navbar-brand" style="font-size: 24px;" href="#">LMS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-lg-4">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav" style="font-size: 20px;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Content</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">About</a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav" style="font-size: 24px;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <button type="button" routerLink="/login" class="btn btn-outline-secondary">Log in</button>
                    </li>&nbsp;
                    <li class="nav-item">
                        <button type="button" routerLink="/signup" class="btn btn-outline-dark">Sign up</button>
                    </li>

                </ul>
            </div>
        </div>


    </div>
</nav>

<section class="wrap-banner mb-5">
    <div>
        <!-- <h2> Peace on earth</h2> -->
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMILHW0TBZGAIMTmF3XH8vYfV73XUhtPtpqA&usqp=CAU"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title mb-2" style="font-weight: bold;">Web development Course</h3>
                    <span class="d-flex mb-2 align-items-center"> <mat-icon style="font-size: 20px;"
                            fontIcon="person"></mat-icon> Muller</span>
                    <p class="card-text"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti ipsam in ex
                        dolorum obcaecati nesciunt repellendus.</p>
                    <div class="row d-flex align-items-center">
                        <div class="col">
                            <Span class="d-flex align-items-center"> <mat-icon aria-hidden="false"
                                    aria-label="Example home icon" fontIcon="visibility"></mat-icon>14</Span>
                        </div>
                        <div class="col"><button type="button" class="btn btn-outline-secondary"> $ 25</button></div>
                        <div class="col"><a href="#" class="btn btn-primary">Buy</a></div>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMILHW0TBZGAIMTmF3XH8vYfV73XUhtPtpqA&usqp=CAU"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title mb-2" style="font-weight: bold;">Web development Course</h3>
                    <span class="d-flex mb-2 align-items-center"> <mat-icon style="font-size: 20px;"
                            fontIcon="person"></mat-icon> Muller</span>
                    <p class="card-text"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti ipsam in ex
                        dolorum obcaecati nesciunt repellendus.</p>
                    <div class="row d-flex align-items-center">
                        <div class="col">
                            <Span class="d-flex align-items-center"> <mat-icon aria-hidden="false"
                                    aria-label="Example home icon" fontIcon="visibility"></mat-icon>14</Span>
                        </div>
                        <div class="col"><button type="button" class="btn btn-outline-secondary"> $ 25</button></div>
                        <div class="col"><a href="#" class="btn btn-primary">Buy</a></div>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMILHW0TBZGAIMTmF3XH8vYfV73XUhtPtpqA&usqp=CAU"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title mb-2" style="font-weight: bold;">Web development Course</h3>
                    <span class="d-flex mb-2 align-items-center"> <mat-icon style="font-size: 20px;"
                            fontIcon="person"></mat-icon> Muller</span>
                    <p class="card-text"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti ipsam in ex
                        dolorum obcaecati nesciunt repellendus.</p>
                    <div class="row d-flex align-items-center">
                        <div class="col">
                            <Span class="d-flex align-items-center"> <mat-icon aria-hidden="false"
                                    aria-label="Example home icon" fontIcon="visibility"></mat-icon>14</Span>
                        </div>
                        <div class="col"><button type="button" class="btn btn-outline-secondary"> $ 25</button></div>
                        <div class="col"><a href="#" class="btn btn-primary">Buy</a></div>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMILHW0TBZGAIMTmF3XH8vYfV73XUhtPtpqA&usqp=CAU"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title mb-2" style="font-weight: bold;">Web development Course</h3>
                    <span class="d-flex mb-2 align-items-center"> <mat-icon style="font-size: 20px;"
                            fontIcon="person"></mat-icon> Muller</span>
                    <p class="card-text"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti ipsam in ex
                        dolorum obcaecati nesciunt repellendus.</p>
                    <div class="row d-flex align-items-center">
                        <div class="col">
                            <Span class="d-flex align-items-center"> <mat-icon aria-hidden="false"
                                    aria-label="Example home icon" fontIcon="visibility"></mat-icon>14</Span>
                        </div>
                        <div class="col"><button type="button" class="btn btn-outline-secondary"> $ 25</button></div>
                        <div class="col"><a href="#" class="btn btn-primary">Buy</a></div>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</div>